/* base */
body,
html {
  font-family: "Overpass", "sans-serif";
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
}
/* Global styles */
:root {
  --button-color: #5200cc;
  --font-color: #ffffff;
  --border-color: #ff0000;
  --accent-color: linear-gradient(229.93deg, #ab00ff -21.91%, #007bff 133.89%);
}
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  text-transform: capitalize;
  font-family: "Overpass", "sans-serif";
}
ul,
p {
  margin: 0;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
img {
  width: 100%;
}
.container {
  margin: 1em;
}
.section {
  margin-bottom: 40px;
}
@media screen and (max-width: 700px) {
  .header-nav-list > li {
    display: none;
  }
  .header-nav-list {
    display: none;
  }
  .footer-desktop-buttons {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hamburger-menu {
    display: none;
  }
  .footer-mobile-button {
    display: none;
  }
}
/* block */
.header-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}
.hamburger-menu {
  width: 100%;
  justify-self: flex-end;
  height: auto;
  padding-left: 150px;
}
.zenith-logo {
  justify-self: flex-start;
  margin: 1em 1em;
  max-width: 130px;
}
.hero-big {
  padding-top: 8em;
  width: 400px;
  height: auto;
}
.hero {
  display: grid;
  background-image: url(./images/hero-bg-cards.png);
  background-repeat: repeat;
  background-size: 1200px;
  align-items: center center;
}
.features-container {
  display: grid;
  margin-top: 9em;
}
.features-heading {
  color: blueviolet;
}
.checkboxes-section,
.integrations-section,
.notifications-section {
  display: flex;
  width: 300px;
  padding: 1em;
  align-items: center;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}
.checkboxes-description,
.integrations-description,
.notifications-description {
  padding-right: 6em;
}
.zenith-dashboard img {
  display: flex;
  margin-top: 4.5em;
  margin-bottom: 8em;
  width: 300px;
  height: 200px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}
.sponsers {
  display: flex;
}
/* layput */
.top-line-hamburger-menu,
.bottom-line-hamburger-menu {
  display: flex;
  height: 2px;
  background-color: blueviolet;
  margin: 6px 0;
}
.top-line-hamburger-menu {
  width: 40px;
  border-radius: 70px;
}
.bottom-line-hamburger-menu {
  width: 30px;
  margin-left: 10px;
  border-radius: 70px;
}
.header-nav-item {
  list-style: none;
  align-self: center;
  padding: 15px;
}
.zenith {
  border-radius: 20px;
  background-color: var(--button-color);
  color: var(--font-color);
  text-align: center;
  display: inline-block;
  padding: 0.5em;
}
.inbound-card-image {
  position: absolute;
  width: 250px;
  height: 80px;
  margin-top: 250px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}
.hero-heading {
  position: absolute;
  width: 157px;
  height: 100px;
  left: 15px;
  top: 117px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #393939;
}
.features-heading > h1 {
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: blueviolet;
}
.checkboxes-image,
.integration-image,
.notifications-image {
  width: 20px;
}
.slack,
.trello {
  padding-bottom: 1em;
}
.slack,
.google,
.trello,
.jira {
  width: 115px;
  height: 40px;
}
.favorite-heading {
  text-align: center;
  justify-content: center;
  padding-left: 2em;
  font-style: bold;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  color: blueviolet;
}
.slack-google,
.trello-jira {
  padding: 1em;
}
.trello-jira {
  padding-left: 6em;
}
.asana-logo > img {
  width: 150px;
  height: 105px;
}
.asana-logo {
  display: flex;
  justify-content: center;
}
.footer {
  display: grid;
  background: var(--accent-color);
  margin-top: 2em;
  width: 400px;
}
.footer-title {
  color: white;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  width: 100%;
}
.footer-nav-ul > li,
a {
  color: #f1f1f1;
  font-size: 10px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.04px;
  text-align: right;
  text-decoration: none;
  list-style: none;
  line-height: 1.9;
  width: 100%;
}
.footer-nav-item {
  justify-self: center;
}
.footer-mobile-button {
  display: flex;
  justify-content: space-evenly;
}
.download-button,
.email,
.name,
.sign-button {
  border-radius: 34.5px;
  font-weight: 400;
}

.download-button {
  font-family: "futura";
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.29px;
  padding: 1em;
}
button > .download-button {
  background: var(--accent-color);
  font-size: 10px;
}
.name,
.email {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 34.5px;
}
.sign-button {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
/* tablet styles */
@media (min-width: 550px) {
  body {
    display: grid;
    margin: 0;
    width: 100%;
  }
  .header-nav-list {
    display: flex;
    justify-content: flex-end;
  }
  .header-nav-item {
    font-size: 16px;
    font-family: "Overpass";
    font-weight: 700;
  }
  .hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  }
  .zenith-logo {
    max-width: 150px;
    padding-right: 1em;
  }
  .hero-big {
    width: 700px;
    height: auto;
    bottom: 15px;
    padding-top: 300px;
  }
  .hero-heading {
    display: flex;
    position: absolute;
    padding-top: 200px;
    width: 700px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 49px;
    letter-spacing: 0.5px;
    color: #393939;
  }
  .inbound-card-image {
    width: 245px;
    height: 96px;
    left: 15px;
    top: 367px;
  }
  .features-container {
    display: grid;
    margin-top: 8em;
    width: 100%;
  }
  .features-heading {
    font-size: 48px;
    align-items: center;
    justify-content: center;
  }
  .checkboxes-image,
  .integration-image,
  .notifications-image {
    width: 20px;
    justify-items: right;
  }
  .favorite-heading > h1 {
    padding-left: 1em;
    font-family: "Overpass";
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
    color: blueviolet;
  }
  .zenith-dashboard img {
    display: flex;
    margin-top: 4.5em;
    margin-bottom: 8em;
    width: 990px;
    height: 600px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  }
  .sponsers {
    display: flex;
  }
  .asana-logo > img {
    width: 240px;
    height: 120px;
  }
  .slack-google,
  .trello-jira {
    padding: 10em;
    flex-direction: column;
    margin-right: -11em;
  }
  .slack,
  .google,
  .trello,
  .jira {
    width: 150px;
    height: 80px;
    padding: 1em;
    justify-items: center;
  }
  .footer {
    margin-top: 4em;
    background-color: blueviolet;
    justify-items: center;
    width: 100%;
    height: 400px;
  }
  .footer-container {
    justify-items: center;
    margin-bottom: 20px;
  }
  .footer-desktop-buttons {
    display: flex;
    padding: 1em;
  }
}
/* desktop styles */
@media (min-width: 700px) {
  body {
    display: grid;
    margin: 0;
    width: 100%;
  }
  .hero-heading {
    display: grid;
    margin: 2em;
    width: 700px;
    font-size: 2rem;
    line-height: 49px;
  }
  .hero-big {
    width: 1300px;
    height: auto;
  }
  .inbound-card-image {
    width: 545px;
    height: 216px;
    left: 205px;
    top: 367px;
  }
  .features-container {
    display: grid;
    justify-content: center;
    margin-top: 30em;
    width: 900px;
  }
  .features-heading-section {
    text-align: center;
  }
  .checkboxes-section,
  .integrations-section,
  .notifications-section {
    width: 600px;
  }
  .checkboxes-image,
  .integration-image,
  .notifications-image {
    padding: 2em;
  }
  .favorite-heading {
    padding-top: 4em;
    font-weight: 900;
    font-size: 50px;
  }
  .zenith-dashboard {
    width: 990px;
    height: 600px;
  }
  .footer {
    margin-top: 4em;
    background-color: blueviolet;
    justify-items: center;
    width: 1100px;
    height: 400px;
  }
  .footer-desktop-buttons {
    display: flex;
    padding: 1em;
  }
}
